<header class="site-header">
  <div class="site-container site-header__inner">
    <a class="site-brand" href="/">{{ site.title }}</a>
    <button class="menu-toggle" type="button" aria-expanded="false" aria-controls="primary-navigation" data-menu-toggle>
      <span class="menu-toggle__bar" aria-hidden="true"></span>
      <span class="menu-toggle__bar" aria-hidden="true"></span>
      <span class="menu-toggle__bar" aria-hidden="true"></span>
      <span class="sr-only">Toggle navigation</span>
    </button>
    <nav id="primary-navigation" class="site-nav" aria-label="Primary">
      <ul class="site-nav__list">
        {% for item in site.data.navigation %}
        {% assign is_current = false %}
        {% if page.url == item.link or page.permalink == item.link %}
          {% assign is_current = true %}
        {% elsif page.url == '/index.html' and item.link == '/' %}
          {% assign is_current = true %}
        {% endif %}
        <li class="site-nav__item">
          <a href="{{ item.link }}" class="site-nav__link{% if is_current %} is-active{% endif %}">{{ item.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
